body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
* {
    appearance: none;
    -webkit-user-select: none;
    user-select: none;
}
[contenteditable] {
    outline: 0px solid transparent;
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 12px;
}
*::-webkit-scrollbar-thumb:active {
    border: 2px solid transparent;
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    margin: 30px;
}
p {
    color: black;
    margin: 10px;
    font-size: 18px;
}
span {
    margin: 0;
    font-size: 20px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
h1 {font-size: 35px}
.fontheader {
    font-family: 'Tektur' !important;
    margin: 0;
}
h2 {font-size: 25px}
h3 {font-size: 20px}
h4 {font-size: 15px}
h5 {font-size: 10px}
h6 {font-size: 5px}
.xpbar {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0;
    margin-bottom: 12px;
    background: black;
    width: calc(100% - 10px);
    border-radius: 10px;
    position: relative;
}
.xpwidth {
    width: 0%;
    height: 10px;
    transition: width 0.75s;
    border-radius: 10px;
}
.xplevel {
    position: absolute;
    text-shadow: 2px 2px 3px black;
    width: 100%;
    font-size: 20px;
    text-align: center;
    top: -17.5px;
}
.main {
    text-align: center;
    font-size: 40px;
}
@media only screen and (max-width: 700px) {
    .main {
        font-size: 30px;
    }
}
.tasks {
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}
.task {
    border-bottom: 1px solid black;
    transition: all 1s;
    padding: 0;
    display: block;
    align-items: center;
    animation: widen 1s;
}
@keyframes widen {
    from {
        transform: scale(1, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
.pelem {
    display: flex;
    align-items: center;
    gap: 5px;
}
.topgroup {
    display: flex;
    gap: 8px;
}
.newicon {
    font-family: 'Material Symbols Rounded';
}
.addnewtask {
    border: none;
    color: white;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    transition: background 0.2s;
}
.addnewtask:hover {
    background: rgba(0,0,0,0.25);
    outline: 1px solid rgba(255,255,255,0.25);
}
.task p span:after {
    font-weight: bold;
    float: right;
    margin-right: 5px;
}
.lowpriority:after {
    content: " ";
}
.normalpriority:after {
    content: " ! ";
}
.highpriority:after {
    content: " !! ";
}
.debugpriority:after {
    content: " Debug ";
}
.checkbox {
    aspect-ratio: 1 / 1;
    background: transparent;
    margin-right: 7px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0);
    border-radius: 50%;
}
.checkbox:disabled {
    cursor: default;
}
.description {
    font-size: 15px;
    width: 100%;
    margin-top: 6px;
    display: block;
    opacity: 50%;
}
.ddateitem {
    font-size: 15px;
    width: 100%;
    margin-top: 4px;
    display: flex;
    align-items: center;
    opacity: 100%;
}
.ddateitem:before {
    font-family: "Material Symbols Rounded";
    content: "schedule";
    font-size: 18px;
    margin-right: 5px;
    display: block;
}
.dateexpire:before {
    content: "history_toggle_off";
    animation: infinite linear 2s blinkclock;
}
@keyframes blinkclock {
    0% {
        content: "history_toggle_off";
    }
    50% {
        content: "schedule";
    }
}
.confetti {
    aspect-ratio: 8 / 6;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
}
.modaloverlay {
    background: rgba(0,0,0,0.5);
    opacity: 0%;
    transition: opacity 0.2s;
    display: none;
    position: fixed;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: calc(100% + 40px);
    align-items: center;
    justify-content: center;
}
.modal {
    width: 100%;
    height: 100%;
    margin-top: 50%;
    background: rgba(20,20,20);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    animation: bounce 0.5s;
    display: none;
}
@keyframes bounce {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}
.modalform {
    width: calc(100% - 20px);
    margin: 10px;
}
.modalform h2 {
    text-align: center;
}
.taskname {
    width: calc(100% - 50px);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background: black;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'Outfit';
    color: white;
    cursor: text;
}
.taskname::placeholder {
    color: rgba(100,100,100);
    opacity: 1;
}
.taskdue {
    width: calc(100% - 50px);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background: black;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'Outfit';
    color: white;
    cursor: text;
}
.taskdue::placeholder {
    color: rgba(100,100,100);
    opacity: 1;
}
.taskdesc {
    width: calc(100% - 50px);
    height: 100px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background: black;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'Outfit';
    color: white;
    cursor: text;
    resize: none;
}
.taskdesc::placeholder {
    color: rgba(100,100,100);
    opacity: 1;
}
.taskpriority {
    width: calc(100% - 30px);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background: black;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'Outfit';
    color: rgba(100,100,100);
    cursor: text;
}
.taskname:focus, .taskpriority:focus {
    outline: none;
}
.taskcreate {
    background: rgba(0,100,0);
    color: white;
    font-family: 'Tektur';
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 40px;
    margin-left: 10px;
}
.taskcancel {
    background: rgba(100,0,0);
    color: white;
    font-family: 'Tektur';
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 40px;
    margin-left: calc(20% - 10px);
}
.taskcreate, .taskcancel {
    transition: transform 0.2s;
}
.taskcreate:hover, .taskcancel:hover, .logok:hover {
    transform: scale(1.05);
}
.taskcreate:active, .taskcancel:active, .logok:active {
    transform: scale(0.95);
}
.menu {
    width: calc(100% - 40px);
    height: calc(100% - 120px);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    overflow: auto;
    flex-direction: column;
}
.menumain {
    margin: 0;
    text-shadow: 3px 3px 7px black;
    width: calc(100% - 50px);
    word-wrap: break-word;
    font-family: 'Tektur';
}
.menumainicon {
    font-family: 'Material Symbols Rounded';
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
}
.menutext {
    margin: 0;
    text-shadow: 3px 3px 7px black;
    color: white;
    font-size: 20px;
    font-family: 'Outfit';
    line-height: 30px;
}
.italicmenu {
    color: gray;
}
.menudivider {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 2px;
}
.menuul {
    color: white;
    padding: 0;
    list-style-type: none;
    background: rgba(255,255,255,0.25);
    border-radius: 10px;
}
.menuul li {
    padding: 10px;
    transition: 0.2s all;
    cursor: pointer;
}
.menuul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menuul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menuul li:hover {
    background: rgba(255,255,255,0.5);
}
.menuul li span:focus {
    cursor: text;
}
.colorselect {
    display: flex;
    width: 100%;
    gap: 5px;
}
.colorselect:not(:last-child) {
    margin-bottom: 15px;
}
.themecolorinput {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 30px;
    width: 100%;
}
.themecolorinput::-webkit-color-swatch-wrapper {
	padding: 0;
}
.themecolorinput::-webkit-color-swatch {
    border-radius: 10px;
	border: none;
}
.themetextinput {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    border: none;
    background: rgba(255,255,255,0.1);
    cursor: pointer;
    height: 30px;
    width: 100%;
    font-size: 15px;
    font-family: 'Outfit';
    border: none;
    box-shadow: 7px 7px 10px rgba(0,0,0,0.25);
    color: white;
    height: 30px;
    border-radius: 10px;
}
.themetextinput:focus {
    cursor: text;
    outline: 2px solid rgba(255,255,255,0.5);
    outline-offset: 1px;
}
.themesend {
    font-family: "Outfit";
    background: rgba(255,255,255,0.1);
    box-shadow: 7px 7px 10px rgba(0,0,0,0.25);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
    padding: 0 10px;
}
.themesend:hover {
    background: rgba(255,255,255,0.25);
}
.themesend:active {
    background: rgba(0,0,0,0.2);
}
.themeheader {
    margin: 0;
    text-shadow: 3px 3px 7px black;
    font-size: 25px;
    font-family: 'Tektur';
}
.themetext {
    margin: 0;
    margin-bottom: 5px;
    text-shadow: 3px 3px 7px black;
    color: white;
    font-size: 17px;
    font-family: 'Outfit';
}
.glassthemebox {
    width: calc(100% - 40px);
    height: fit-content;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Outfit';
    box-shadow: 7px 7px 10px rgba(0,0,0,0.25);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    white-space: pre;
    text-wrap: pretty;
}
.buttonmenu {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 10px;
    height: 60px;
    width: calc(100% - 20px);
    padding: 10px;
    background: rgba(0,0,0,0.75);
}
.menubutton {
    width: 100%;
    height: 30px;
    font-family: 'Material Symbols Rounded';
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
    border: 1px solid transparent;
    color: rgba(255,255,255,0.5);
}
.menubutton.tabbedin {
    color: rgba(255,255,255);
    transform: scale(1.2)
}
.minibutton {
    padding: 10px 15px;
    border: 0px solid transparent;
    background: transparent;
    font-size: 15px;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.2s;
    color: inherit;
    text-shadow: 0px 0 5px black;
    font-family: 'Outfit';
    color: white;
}
.minibutton {
    background: rgba(255,255,255,0.1);
}
.minibutton:active {
    background: transparent;
    border: 1px solid white;
    outline: 1px solid gray;
}
.minibutton.active {
    background: red;
    text-shadow: 0 0 0 black;
    cursor: not-allowed;
}
.minibutton.active:active {
    background: darkred;
    text-shadow: 0 0 0 black;
    cursor: not-allowed;
}
.notification {
    width: 100%;
    background: rgba(0,0,0,0.9);
    color: white;
    width: calc(100% - 60px);
    position: fixed;
    left: 10px;
    z-index: 1;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.25);
    font-family: 'Outfit';
    animation: notification 5s;
}
@keyframes notification {
    0% {
        top: -100%;
    }
    10% {
        top: 10px;
    }
    90% {
        top: 10px;
    }
    100% {
        top: -100%;
    }
}
.hometitle {
    font-size: 50px;
    margin: 0;
    text-shadow: 3px 3px 7px black;
}
xpvalue:before {
    content: "XP Value: "
}
randnum:before {
    content: "ID: "
}
xpvalue,randnum {
    font-family: 'Outfit';
    font-size: 15px;
    margin: 10px;
}
#listslist {
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: 0px solid transparent;
    margin-bottom: 10px;
    transition: background 0.2s;
}
#listslist:hover, #listslist:focus {
    background: rgba(0,0,0,0.25);
    outline: 1px solid rgba(255,255,255,0.25);
}
.glassstatsbox {
    width: calc(100% - 30px);
    height: fit-content;
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Outfit';
    box-shadow: 7px 7px 10px rgba(0,0,0,0.25);
    color: white;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    margin-top: 10px;
    position: relative;
}
.statshead {
    font-family: 'Tektur';
    font-size: 25px;
    margin: 0;
    text-align: center;
}
.tasksbox {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: none;
}
.tasksbox div {
    animation: none;
    font-size: 18px;
    padding: 7px;
    padding-left: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.tasksbox div:last-child {
    border-bottom: none;
}
.tboxmsg {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: rgb(255,255,255,0.5);
    display: block;
}
.tboxclear {
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    width: 40px;
    height: 40px;
    font-family: 'Material Symbols Rounded';
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    border: 1px solid transparent;
    color: inherit;
}
.tboxclear:hover {
    background: rgba(255,255,255,0.1);
}
.tboxclear:active {
    background: transparent;
    border: 1px solid white;
    outline: 1px solid gray;
}